@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100%;
}

body {
  background-color: #f6f3ec;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  background: #f6f3ec;
}

#userActive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14.5px;
  font-weight: 600;
  background-color: #000000;
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 24px;
}

.btn_close {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container_form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formLogin {
  width: 500px;
  border-radius: 18px;
  padding: 68px 84px;
  margin-top: 42px;
  background: #dcdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

.label_input {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  text-align: left;
  margin-top: 32px;
}

.contain_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 12px;
}

.inputClave {
  padding: 5px 4px;
  border-radius: 8px;
  font-weight: 600;
}

.inputSubmit {
  margin-top: 48px;
  padding: 6px 32px;
  font-weight: 700;
  font-size: 16px;
  background-color: black;
  color: white;
  outline: none;
  border-radius: 8px;
}

#responseReturn {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.container_menu {
  width: 100%;
  max-width: 1920px;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
}

.container_menu_header {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.container_menu_header_actions {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 12px;
}

#menu {
  display: none;
  width: 100%;
}

.container_menu_btns {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-top: 42px;
}

.buttons_actions {
  width: 100%;
  gap: 8px;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.ouputs {
  width: 100%;
  background-color: #dcdbdb;
  height: 500px;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  height: 100%;
  object-fit: fill;
  font-weight: 600;
  font-size: 16px;
}

#outputData {
  margin-bottom: 30px;
  font-weight: 600;
}

#alertModal {
  margin-bottom: 30px;
  display: none;
  width: 100%;
  justify-content: center;
}

.inputAction {
  padding: 8px 4px;
  border-radius: 8px;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

#formDeposit {
  width: 400px;
}
